@media screen and (min-width: 768px) {
    .carousel-sfumatura-sin {
        background-image: linear-gradient(to right, #050f84 0%, #fff)!important;
    }

    .carousel-sfumatura-des {
        background-image: linear-gradient(to left, #050f84 0%, #fff)!important;
    }
    
    .siamobanner {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 120px;
        padding-bottom: 120px;
        color: white;

    }
    
    .tim-header {
        background-color: #004489;
        margin-bottom: 0px;
        border: 0px;
        background-image: none;
        border-radius: 0px;
    }

    .timbrand {
        padding-top: 10px;
    }

    .cartbrand {
        padding-top: 13px;
    }

    .cartlogo {
        width: 25px;
        height: 25px;
    }


    .tim-footer {
        min-height: 30px;
        height: 30px;
        width: 100%;
        background-color: #004489;
        border: 0px;
        background-image: none;
        border-radius: 0px;
        position:fixed;
        bottom: 0px;
    }

    .tim.navfooter {
        min-height: 30px!important;
        height: 30px!important;
    }


    .footerpadding {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .color-buttons {
        width: 15px;
        height: 15px;
        border-radius: 4px;
        border: 1px solid;
        border-color: grey;
        float: left;
        margin-top: 3px;
        margin-left: 10px;
    }

    .detail-button {
        font-size: 10px;
        background-color: red;
        background-image: none;
        color: white;
        text-shadow: none;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 20px;

    }

    .etichette {
        margin-top: 10px;
        margin-right: 10px;
        width: 54px;
        min-height: 16px;
    }

    .pannelli-store {
        text-align: center;
    }

    .tim-row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .devicepics {
        width: 100%;
        margin-top: 15px;
    }

    .prezzi {
        color: red;
        font-size: 25px;
        font-weight: bolder;
    }
    
    .prezzi_scont {
        color: black;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: line-through;
    }

    .rate {
        font-size: 10px;
    }

    .products {
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .testo {
        margin-left: 10%;
        margin-right: 10%;
    }

    .vantaggi {
        color: red;
        font-size: 20px;
    }

    .filtroresp {
        margin-left: 15px;
        margin-right: 15px;
    }    
    
    .pulsantefiltri {
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-sfumatura-sin {
        background-image: linear-gradient(to right, #fff 0%, #fff)!important;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black!important;
    }

    .carousel-sfumatura-des {
        background-image: linear-gradient(to left, #fff 0%, #fff)!important;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black!important;
    }
    
    .innov-desc-xs {
        font-size: 12px!important;
        padding: 0 20% 0 20%;
    }
    
    .innov-titoli-xs {
        font-size: 16px!important;
        padding: 0 20% 0 20%;
    }
    
    .siamobanner {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 35px;
        padding-bottom: 35px;
        color: white;
        font-size: 20px;
    }
    
    .innov-puls {
        min-width: 100px;
        background-color: red;
        background-image: none;
        border-color: red;
        text-shadow: 0 0px 0;
        color: white;
        font-weight: bolder;
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 9px;s
    }
    
    .tim-header {
        background-color: #004489;
        margin-bottom: 0px;
        border: 0px;
        background-image: none;
        border-radius: 0px;
    }

    .timbrand {
        padding-top: 10px;
    }

    .cartbrand {
        padding-top: 13px;
    }

    .cartlogo {
        width: 25px;
        height: 25px;
    }


    .tim-footer {
        min-height: 30px;
        height: 30px;
        width: 100%;
        background-color: #004489;
        border: 0px;
        background-image: none;
        border-radius: 0px;
        position:fixed;
        bottom: 0px;
    }

    .tim.navfooter {
        min-height: 30px!important;
        height: 30px!important;
    }


    .footerpadding {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .color-buttons {
        width: 15px;
        height: 15px;
        border-radius: 4px;
        border: 1px solid;
        border-color: grey;
        float: left;
        margin-top: 3px;
        margin-left: 10px;
    }

    .detail-button {
        font-size: 15px;
        background-color: red;
        background-image: none;
        color: white;
        text-shadow: none;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 12px 30px 12px 30px;

    }

    .etichette {
        margin-top: 10px;
        margin-right: 10px;
        width: 54px;
        height: 16px;
    }

    .pannelli-store {
        text-align: center;
        margin: 20px 20px 20px 20px;
    }

    .tim-row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .devicepics {
        width: 100%;
        margin-top: 15px;
    }

    .prezzi {
        color: red;
        font-size: 23px;
        font-weight: bolder;
    }

    .prezzi_scont {
        color: black;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: line-through;
    }
    
    .rate {
        font-size: 15px;
    }

    .products {
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .testo {
        margin-left: 10%;
        margin-right: 10%;
    }

    .vantaggi {
        color: red;
        font-size: 20px;
    }

    .filtroresp {
        margin-left: 15px;
        margin-right: 15px;
    }    
    
    .pulsantefiltri {
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .nomedevices {
        font-size: 20px;
    }
}

.colonne {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.catpic {
    margin-bottom: 15px;
}

.cattext {
    font-size: 20px;
}

.rigarespo {
    margin-left: 0px;
    margin-right: 0px;
}

.bannerpic {
    background-size: 100%;
}

@media screen and (min-width: 769px) {
    .innov-puls {
        min-width: 140px;
        background-color: red;
        background-image: none;
        border-color: red;
        text-shadow: 0 0px 0;
        color: white;
        font-weight: bolder;
        margin-top: 136px;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media screen and (width: 768px) {

    .innov-puls {
        min-width: 100px;
        background-color: red;
        background-image: none;
        border-color: red;
        text-shadow: 0 0px 0;
        color: white;
        margin-top: 136px;
        font-size: 9px;
    }
    
    .innov-head {
        font-size: 20px;
    }
    
}

.innov-carousel {
    left: 0;
    right: 0;
    top: 5%;
    bottom: 5%;
    position: relative;
    padding-top: 30px;
}

.innov-titoli {
    color: #0092D5;
    font-size: 25px;
    margin-top: 10%;
    text-shadow: 0 0px;
}

.innov-desc {
    font-size: 16px;
    color: black;
    text-shadow: 0 0px;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #0092D5;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #0092D5;
}

