/*
    Utility Classes
*/

.pos-rel {
    position: relative;
}

.push-bottom {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

.disp-flex {
    display: flex;
}

.same-height {
    flex: 1;
    margin-bottom: 10%;
    margin-top: 10%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.rigarespo {
    margin-left: 0px;
    margin-right: 0px;
}

.img-center {
    margin: auto;
}

.rigarespo {
    margin-left: 0px;
    margin-right: 0px;
}