/*
    Utility Classes
*/

.pos-rel {
    position: relative;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.rigarespo {
    margin-left: 0px;
    margin-right: 0px;
}

.img-center {
    margin: auto;
}

.rigarespo {
    margin-left: 0px;
    margin-right: 0px;
}