.bannerpic {
    background-size: 100%;
}

.innov-puls {
    background-color: red;
    background-image: none;
    border-color: red;
    color: white;
    font-weight: bolder;
    margin-top: 136px;
    width: 140px;
    padding-right: 5px;
    padding-left: 5px;
    text-shadow: 0 0px 0;
}

.siamobanner {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.innov-head {
    font-size: 20px;
}

.innov-carousel {
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    
    position: relative;
}

.innov-titoli {
    color: #0092D5;
    font-size: 25px;
    margin-top: 5%;
    text-shadow: 0 0px;
}

.innov-desc {
    color: #000000;
    font-size: 16px;
    text-shadow: 0 0px;
}

.carousel-sfondo {
    background-image: none!important;
}

.carousel-indicators li {
    display: inline-block;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}

.carousel-indicators .active {
    background-color: red;
    height: 12px;
    margin: 0;
    width: 12px;
}

.chisiamosottotitoli {
    font-weight: bold;
    color: red;
}

.embedtim {
    width: 60%!important;
    height: 60%!important;
    margin-left: 21%;
}

.progetti-text {
    margin-top: 10px;
}

.colonnepulsanti {
    padding: 0 0 0 0;
}

.bordi-item {
    margin-left: 16.66666667%;
    margin-right: 16.66666667%;
}

@media screen and (max-width: 365px) {
    .slider-progetti {
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media screen and (min-width: 992px) {
    .posizionepic {
        margin-top: 22%;
    }
    
    .dimensionecarousel-progetti {
        height: 500px;
    }
    
    .dimensionecarousel-testimonial {
        height: 500px;
    }
    
    .dimensionecarousel-innovazione {
        height: 500px;
    }
}

@media screen and (width: 768px) {
    .dimensionecarousel-progetti {
        height: 575px;
    }
    
    .dimensionecarousel-testimonial {
        height: 600px;
    }
    
    .dimensionecarousel-innovazione {
        height: 500px;
    }
}

@media screen and (max-width: 767px) and (min-width: 725px) {
    .dimensionecarousel-progetti {
        height: 400px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 400px;
    }
}

@media screen and (max-width: 724px) and (min-width: 561px) {
    .dimensionecarousel-progetti {
        height: 475px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 400px;
    }
}

@media screen and (max-width: 560px) and (min-width: 501px) {
    .dimensionecarousel-progetti {
        height: 525px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 425px;
    }
}

@media screen and (max-width: 500px) and (min-width: 461px) {
    .dimensionecarousel-progetti {
        height: 550px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 475px;
    }
}

@media screen and (max-width: 460px) and (min-width: 401px) {
    .dimensionecarousel-progetti {
        height: 600px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 500px;
    }
}

@media screen and (max-width: 400px) and (min-width: 381px) {
    .dimensionecarousel-progetti {
        height: 625px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 550px;
    }
}

@media screen and (max-width: 380px) and (min-width: 345px) {
    .dimensionecarousel-progetti {
        height: 675px;
    }
    
    .dimensionecarousel-testimonial {
        height: 450px;
    }
    
    .dimensionecarousel-innovazione {
        height: 575px;
    }
}

@media screen and (max-width: 344px) {
    .dimensionecarousel-progetti {
        height: 750px;
    }
    
    .dimensionecarousel-testimonial {
        height: 380px;
    }
    
    .dimensionecarousel-innovazione {
        height: 600px;
    }
}