/*
    Personal classes
*/
.container-text {
    position: absolute;
    top: 10%;
    width: 100%;
}

.titolo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.descrizione {
    color: #ffffff;
    font-size: 3vmin;
}

.spazio {
    margin: 5% 0px;
}

.same-height img {
    margin-bottom: 5%;
}